{% extends 'base/base.html' %}
{% load static %}

{% block title %} 
Matrícula
{% endblock title %} 

{% block content %}


<div class="container mt-5">
  <form method="POST">
    {% csrf_token %}
    
    <!-- Formulario Estudiante -->
    <h2>{{titulo}}</h2>

    <!-- Num Rut -->
    <div class="form-group">
      <label class="form-label" for="num_rut">Rut Estudiante: </label>
      {{form_estudiante.num_rut}}
    </div>

    <!-- Dv -->
    <div class="form-group">
      <label class="form-label" for="dv">{{form_estudiante.dv.label}}</label>
      {{form_estudiante.dv}}
    </div>

    <!-- Pnombre -->
    <div class="form-group">
      <label class="form-label" for="pnombre">{{form_estudiante.pnombre.label}}</label>
      {{form_estudiante.pnombre}}
    </div>

    <!-- Snombre -->
    <div class="form-group">
      <label class="form-label" for="snombre">{{form_estudiante.snombre.label}}</label>
      {{form_estudiante.snombre}}
    </div>

    <!-- Appat -->
    <div class="form-group">
      <label class="form-label" for="appat">{{form_estudiante.appat.label}}</label>
      {{form_estudiante.appat}}
    </div>

    <!-- Apmat -->
    <div class="form-group">
      <label class="form-label" for="apmat">{{form_estudiante.apmat.label}}</label>
      {{form_estudiante.apmat}}
    </div>

    <!-- Fec Nac -->
    <div class="form-group">
      <label class="form-label" for="fec_nac">{{form_estudiante.fec_nac.label}}</label>
      {{form_estudiante.fec_nac}}
    </div>

    <!-- Nacionalidad -->
    <div class="form-group">
      <label class="form-label" for="nacionalidad">{{form_estudiante.nacionalidad.label}}</label>
      {{form_estudiante.nacionalidad}}
    </div>

    <!-- Direccion -->
    <div class="form-group">
      <label class="form-label" for="direccion">{{form_estudiante.direccion.label}}</label>
      {{form_estudiante.direccion}}
    </div>

    <!-- Genero -->
    <div class="form-group">
      <label class="form-label" for="genero">{{form_estudiante.genero.label}}</label>
      {{form_estudiante.genero}}
    </div>

    <!-- Email -->
    <div class="form-group">
      <label class="form-label" for="email">{{form_estudiante.email.label}}</label>{{ form_estudiante.email }}
    </div>

    <!-- Numero -->
    <div class="form-group">
      <label class="form-label" for="numero">{{ form_estudiante.numero.label }}</label>{{ form_estudiante.numero }}
    </div>

    <div class="form-group">
      <label class="form-label" for="parentezco">Parentezco: </label>{{ form_estudiante.parentezco }}
    </div>

    <div class="form-group">
      <label class="form-label" for="apoderado">Apoderado:</label>
      <select class="form-control" id="apoderado" name="apoderado">
        {% for apoderado in apoderados %}
          <option value="{{ apoderado.num_rut }}">{{ apoderado.pnombre }} {{ apoderado.appat }} {{ apoderado.apmat }}</option>
        {% endfor %}
      </select>
    </div>

    <!-- Botón de Enviar -->
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>


{% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock js %}

{% endblock content %}

