{% extends 'base/base.html' %}
{% load static %} 

{% block title %} 
Matrícula
{% endblock title %} 

{% block content %}
<div class="container mt-5">
    <form class="form" method="POST" action="{% url 'matricula' %}">
      {% csrf_token %}
      
      <!-- Num Rut -->
      <div class="form-group">
        <label class="form-label" for="num_rut">Número Rut</label>
        <input type="number" class="form-control" id="num_rut" name="num_rut" placeholder="Sin puntos ni guión" required>
      </div>
  
      <!-- Dv -->
      <div class="form-group">
        <label class="form-label" for="dv">Dígito Verificador</label>
        <input type="text" class="form-control" id="dv" name="dv" required>
      </div>
  
      <!-- Pnombre -->
      <div class="form-group">
        <label class="form-label" for="pnombre">Primer Nombre</label>
        <input type="text" class="form-control" id="pnombre" name="pnombre" placeholder="{form_apod.pnombre}" required>
      </div>
  
      <!-- Snombre -->
      <div class="form-group">
        <label class="form-label" for="snombre">Segundo Nombre</label>
        <input type="text" class="form-control" id="snombre" name="snombre" placeholder="Segundo nombre">
      </div>
  
      <!-- Appat -->
      <div class="form-group">
        <label class="form-label" for="appat">Apellido Paterno</label>
        <input type="text" class="form-control" id="appat" name="appat" placeholder="Apellido paterno" required>
      </div>
  
      <!-- Apmat -->
      <div class="form-group">
        <label class="form-label" for="apmat">Apellido Materno</label>
        <input type="text" class="form-control" id="apmat" name="apmat" placeholder="Apellido materno" required>
      </div>
  
      <!-- Fec Nac -->
      <div class="form-group">
        <label class="form-label" for="fec_nac">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="fec_nac" name="fec_nac" required>
      </div>
  
      <!-- Nacionalidad -->
      <div class="form-group">
        <label class="form-label" for="nacionalidad">Nacionalidad</label>
        <input type="text" class="form-control" id="nacionalidad" name="nacionalidad" required>
      </div>
  
      <!-- Direccion -->
      <div class="form-group">
        <label class="form-label" for="direccion">Dirección</label>
        <input type="text" class="form-control" id="direccion" name="direccion" placeholder="ej: Calle Esparta 25, comuna La Granja" required>
      </div>
  
      <!-- Genero -->
      <div class="form-group">
        <label class="form-label" for="genero">Género</label>
        <select class="form-control" id="genero" name="genero" required>
          <option value="0">Femenino</option>
          <option value="1">Masculino</option>
          <option value="2">No aplica</option>
        </select>
      </div>
  
      <!-- Email -->
      <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="example@gmail.com" required>
      </div>
  
      <!-- Numero -->
      <div class="form-group">
        <label class="form-label" for="numero">Número</label>
        <input type="number" class="form-control" id="numero" name="numero" required>
      </div>
  
      <!-- Botón de Enviar -->
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>

{% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock js %}

{% endblock content %}
