{% extends 'base/base.html' %}
{% load static %} 

{% block title %} 
Matrícula
{% endblock title %} 

{% block content %}
<div class="container mt-5">
    <form method="POST">
      {% csrf_token %}
      
      <!-- Num Rut -->
      <div class="form-group">
        <label class="form-label" for="num_rut">{{form.num_rut.label}}</label>
        {{form.num_rut}}
      </div>
  
      <!-- Dv -->
      <div class="form-group">
        <label class="form-label" for="dv">{{form.dv.label}}</label>
        {{form.dv}}
      </div>
  
      <!-- Pnombre -->
      <div class="form-group">
        <label class="form-label" for="pnombre">{{form.pnombre.label}}</label>
        {{form.pnombre}}
      </div>
  
      <!-- Snombre -->
      <div class="form-group">
        <label class="form-label" for="snombre">{{form.snombre.label}}</label>
        {{form.snombre}}
      </div>
  
      <!-- Appat -->
      <div class="form-group">
        <label class="form-label" for="appat">{{form.appat.label}}</label>
        {{form.appat}}
      </div>
  
      <!-- Apmat -->
      <div class="form-group">
        <label class="form-label" for="apmat">{{form.apmat.label}}</label>
        {{form.apmat}}
      </div>
  
      <!-- Fec Nac -->
      <div class="form-group">
        <label class="form-label" for="fec_nac">{{form.fec_nac.label}}</label>
        {{form.fec_nac}}
      </div>
  
      <!-- Nacionalidad -->
      <div class="form-group">
        <label class="form-label" for="nacionalidad">{{form.nacionalidad.label}}</label>
        {{form.nacionalidad}}
      </div>
  
      <!-- Direccion -->
      <div class="form-group">
        <label class="form-label" for="direccion">{{form.direccion.label}}</label>
        {{form.direccion}}
      </div>
  
      <!-- Genero -->
      <div class="form-group">
        <label class="form-label" for="genero">{{form.genero.label}}</label>
        {{form.genero}}
      </div>
  
      <!-- Email -->
      <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="example@gmail.com" required>
      </div>
  
      <!-- Numero -->
      <div class="form-group">
        <label class="form-label" for="numero">Número</label>
        <input type="number" class="form-control" id="numero" name="numero" required>
      </div>
  
      <!-- Botón de Enviar -->
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>

{% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock js %}

{% endblock content %}
