{% extends 'base/base.html' %} {% load static %} {% block title %} Interfaz
Apoderado {% endblock title %} {% block content %}
<div class="content">
  <div class="offset-2 col-8">
    <br>
    <h3>Lista de Estudiantes</h3>
    <br>
    <ol class="list-group list-group-numbered">
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 1</div>
          Curso: ...
        </div>
        <a href="{% url 'alumno' %}">
          <span class="badge bg-primary rounded-pill"> Detalle </span>
        </a>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 2</div>
          Curso: ...
        </div>
        <a href="{% url 'alumno' %}">
          <span class="badge bg-primary rounded-pill"> Detalle </span>
        </a>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 3</div>
          Curso: ...
        </div>
        <a href="{% url 'alumno' %}">
          <span class="badge bg-primary rounded-pill"> Detalle </span>
        </a>
      </li>
    </ol>
  </div>
</div>

{% endblock content %}
