{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Asistencia
{% endblock title %}

{% block content %} 
<h1>Asistencia 1° Medio B</h1>

<div class="content">
  <div class="offset-2 col-8">
    <br>
    <h3>Lista de Estudiantes</h3>
    <br>
    <ol class="list-group list-group-numbered">
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 1</div>
          Curso: ...
        </div>
        <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 2</div>
          Curso: ...
        </div>
        <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 3</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 4</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 5</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 6</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 7</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 8</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 9</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 10</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 11</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 12</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 13</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 14</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 15</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 16</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 17</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 18</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 19</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 20</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 21</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 22</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 23</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 24</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 25</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 26</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre Estudiante 27</div>
          Curso: ...
        </div>
                <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">Presente</option>
            <option value="2">Ausente</option>
            <option value="3">Atrasado</option>
          </select>
        </div>
      </li>

    </ol>
    <br>
    <a href="#" class="btn btn-primary">Guardar Asistencia</a>
  </div>
</div>


{% endblock content %}