{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Horario
{% endblock title %}

{% block content %} 
<div class="mb-3 col-6 offset-3 ">
    <h1>Horario</h1>
    <label for="disabledSelect" class="form-label">Seleccionar mes</label>
    <select id="disabledSelect" class="form-select">
      <option>Enero</option>
      <option>Febrero</option>
      <option>Marzo</option>
      <option>Abril</option>
      <option>Mayo</option>
      <option>Junio</option>
      <option>Julio</option>
      <option>Agosto</option>
      <option>Septiembre</option>
      <option>Octubre</option>
      <option>Noviembre</option>
      <option>Diciembre</option>

    </select>
  </div>

{% endblock content %}