{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Evaluaciones
{% endblock title %}

{% block content %} 
<h1>Evaluaciones</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Asignatura</th>
      <th scope="col">Evaluación 1</th>
      <th scope="col">Evaluación 2</th>
      <th scope="col">Evaluación 3</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-warning">
      <th scope="row">Matemáticas</th>
      <td>4.5</td>
      <td>4.2</td>
      <td>4.1</td>
    </tr>
    <tr class="table-success">
      <th scope="row">Lenguaje</th>
      <td>6.8</td>
      <td>6.2</td>
      <td>6.4</td>
    </tr>
    <tr class="table-danger">
      <th scope="row">Ciencias</th>
      <td>3.5</td>
      <td>3.9</td>
      <td>3.3</td>
    </tr>
  </tbody>
</table>

{% endblock content %}