{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Inicio
{% endblock title %}

{% block content %} 
<h1>Sistema Informatico de Gestión Academica SIGA</h1>
<div class="card col-md-4 m-1">
            <img src="https://picsum.photos/300/300" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Escuela 309</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, ipsa, itaque ad mollitia fuga distinctio, recusandae impedit doloremque harum sit repudiandae accusamus ducimus placeat pariatur quaerat dolorum cumque exercitationem aliquam.</p>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, ipsa, itaque ad mollitia fuga distinctio, recusandae impedit doloremque harum sit repudiandae accusamus ducimus placeat pariatur quaerat dolorum cumque exercitationem aliquam.</p>
            </div>
        </div>

{% endblock content %}