{% extends 'padre/base.html' %} 
{% load static %} 
{% block titulo %}
Login 
{%endblock titulo %} 
{% block contenido %}
<main class="contaier">
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3 col-6 offset-3 form-group">
      <label for="rut">Rut:</label>
      <input
        type="text"
        class="form-control"
        id="rut"
        placeholder="Ingresa tu Rut"
      />
      <div id="rutHelp" class="form-text">Ej: 12345678-9</div>
    </div>

    <div class="mb-3 col-6 offset-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1" />
    </div>
    <div class="mb-3 col-6 offset-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" role="submit" class="btn btn-primary offset-3">
      Submit
    </button>
  </form>
</main>
{% endblock contenido %}
