{% extends 'base/base.html' %}
{% load static %} 

{% block title %} 
Matrícula
{% endblock title %} 

{% block content %}
<h1 class="text-center">Formulario de Matrícula</h1><br>
<form>
  <main class="container">
    <!-- Ingreso de los datos del alumno -->
    <h2 class="text-center">Registrar Alumno</h2>
    <section class="row">
        <legend>Datos Personales</legend>
        <fieldset class="col-10">
            <div class="row p-2">
                <div class="col-5">
                    <label for="run">RUN:</label>
                    <input type="text" id="run" name="run" required placeholder="Sin puntos ej: 13456897">
                </div>
                <div class="col-5">
                    <label for="dvrun">DV:</label>
                    <input type="text" id="dvrun" name="dvrun">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-5">
                    <label for="pnombre">Primer Nombre:</label>
                    <input type="text" id="pnombre" name="pnombre" required>
                </div>
                <div class="col-5">
                    <label for="snombre">Segundo Nombre:</label>
                    <input type="text" id="snombre" name="snombre" required>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-5">
                    <label for="appaterno">Apellido Paterno:</label>
                    <input type="text" id="appaterno" name="appaterno" required>
                </div>
                <div class="col-5">
                    <label for="apmaterno">Apellido Materno</label>
                    <input type="text" name="apmaterno" id="apmaterno" required>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-5">
                    <label for="fecha_nac">Fecha de Nacimiento</label>
                    <input type="date" name="fecha_nac" id="fecha_nac" required>
                </div>
                <div class="col-5">
                    <label for="genero">Género</label>
                    <input type="text" name="genero" id="genero" required>
                </div>
            </div>
        </fieldset>
        <legend>Datos de Contacto</legend>
        <fieldset class="col-10">
          <div class="row p-2">
            <div class="col-5">
                <label for="direccion">Direccion:</label>
                <input type="text" id="direccion" name="direccion" required placeholder="ej: Calle Las Canteras pasaje 1, EL Bosque.">
            </div>
            <div class="col-5">
                <label for="dvrun">Email:</label>
                <input type="email" id="email" name="email">
            </div>
          </div>
          <div class="row p-2">
            <div class="col-5">
              <label for="num_telef">Numero de Teléfono</label>
            <input type="number" name="num_telef" id="num_telef">
            </div>
          </div>
        </fieldset>
    </section>
    <br>
    <!-- Ingreso de los datos del apoderado -->
    <h2 class="text-center">Registrar Apoderado</h2>
    <section class="row">
      <legend>Datos Personales</legend>
      <fieldset class="col-10">
        <div class="row p-2">
          <div class="col-5">
            <label for="run">RUN:</label>
            <input type="text" name="run" id="run" placeholder="Sin puntos ej: 15364789" required>
          </div>
          <div class="col-5">
            <label for="dvrun">DV:</label>
            <input type="text" name="dvrun" id="dvrun"
            required>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-5">
            <label for="pnombre">Primer Nombre</label>
            <input type="text" name="pnombre" id="pnombre" required>
          </div>
          <div class="col-5">
            <label for="snombre">Segundo Nombre:</label>
            <input type="text" name="snombre" id="snombre" required>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-5">
            <label for="appaterno">Apellido Paterno</label>
            <input type="text" name="appaterno" id="appaterno" required>
          </div>
          <div class="col-5">
            <label for="apmaterno">Apellido Materno</label>
            <input type="text" name="apmaterno" id="apmaterno" required>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-5">
            <label for="fecha_nac">Fecha de Nacimiento:</label>
            <input type="date" name="fecha_nac" id="fecha_nac" required>
          </div>
          <div class="col-5">
            <label for="genero">Género:</label>
            <input type="text" name="genero" id="genero" required>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-5">
            <label for="parentezco">Parentezco:</label>
            <input type="text" name="parentezco" id="parentezco" required>
          </div>
        </div>
      </fieldset>
      <legend>Datos de Contacto</legend>
      <fieldset class="col-10">
        <div class="row p-2">
          <div class="col-5">
            <label for="direccion">Dirección:</label>
            <input type="text" name="direccion" id="direccion" required>
          </div>
          <div class="col-5">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-5">
            <label for="num_telef">Número de Teléfono:</label>
            <input type="number" name="num_telef" id="num_telef" required>
          </div>
          <div class="col-5">
            <label for="num_telef_emerg">Número de Teléfono Emerg.:</label>
            <input type="number" name="num_telef_emerg" id="num_telef_emerg">
          </div>
        </div>
      </fieldset>
    </section>
    <br>
    <!-- Ingreso de los datos generales de matricula -->
    <h2 class="text-center">Datos Generales</h2>
    <section class="row">
      <fieldset class="col-10">
        <div class="row p-2">
          <div class="col-5">
            <label for="periodo">Periodo de Matrícula</label>
            <input type="text" name="periodo" id="periodo" required>
          </div>
          <div class="col-5">
            <label for="estado">Estado de matrícula</label>
            <input type="text" name="estado" id="estado" required>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-5">
            <label for="anio">Año académico</label>
            <input type="number" name="anio" id="anio" required>
          </div>
          <div class="col-5">
            <label for="curso">Curso alumno</label>
            <input type="text" name="curso" id="curso">
          </div>
        </div>
      </fieldset>
      <fieldset class="col-10">
        <div class="row p-2">
          <button class="button align-item-start col-3" type="button" >Confirmar</button>
          <button class="button offset-3 col-3" type="button" >Cancelar</button>
        </div>
      </fieldset>
    </section>
  </main>
  
</form>
{% endblock content %}