{% extends 'base/base.html' %} 
{% load static %} 
{% block title %}
Cursos
{% endblock title %}

{% block content %}

<a class="btn btn-outline-info" href="{% url 'agregar_curso' %}" role="button"
  >Agregar Curso +</a
>
<div class="list-group">
  {% for curso in cursos %}
    <a href="{% url 'lista_asignaturas' curso.id %}" class="list-group-item list-group-item-action" aria-current="true">
      {{ curso.get_nivel_display }} {{ curso.get_seccion_display }} - Año: {{ curso.periodo }}
    </a>
      {% empty %}
        <li>No hay cursos disponibles.</li>
      {% endfor %}   
</div>
  

{% endblock %}
