{% extends 'base/base.html' %} 
{% load static %} 
{% block title %}
Login 
{%endblock title %} 
{% block content %}
<main class="container">
  <form method="POST">
    {% csrf_token %}
    <div
      class="mb-1 offset-md-4 col-md-4"
      style="display: flex; justify-content: center; align-items: center"
    >
      <h1>Iniciar sesión</h1>
    </div>
    <!-- ingresar rut -->
    <div class="mb-1 offset-md-4 col-md-4">
      <label class="form-label m-2">{{form.num_rut.label}}</label>
      {{form.num_rut}}
      <div id="emailHelp" class="form-text">{{form.num_rut.help_text}}</div>
    </div>
    <!-- ingresar contraseña -->
    <div class="mb-1 offset-md-4 col-md-4">
      <label class="form-label m-2">{{form.contrasenia.label}}</label>
      {{form.contrasenia}}
    </div>
    <!-- boton de inicio -->
    <button
      type="submit"
      role="submit"
      class="btn btn-primary offset-md-4 col-md-4"
    >
      Iniciar
    </button>
  </form>
</main>
{% endblock content %}
