{% extends 'base/base.html' %} 
{% load static %} 
{% block title %}
Login 
{% endblock title %} 
{% block content %}
<main class="container my-5">
  <form method="POST" class="col-md-6 offset-md-3">
    {% csrf_token %}
    <h1 class="text-center mb-4">Iniciar sesión</h1>

    <!-- Ingresar rut -->
    <div class="mb-3">
      <label class="form-label">{{ form.num_rut.label }}</label>
      {{ form.num_rut }}
      <div id="emailHelp" class="form-text">{{ form.num_rut.help_text }}</div>
    </div>

    <!-- Ingresar contraseña -->
    <div class="mb-3">
      <label class="form-label">{{ form.contrasenia.label }}</label>
      {{ form.contrasenia }}
    </div>

    <!-- Botón de inicio -->
    <button type="submit" role="submit" class="btn btn-primary w-100 mb-3">
      Iniciar
    </button>

    <!-- Enlace para solicitar contraseña -->
    <div class="text-center">
      <a href="{% url 'solicitarContraseña' %}" class="link-primary">¿Olvidaste tu contraseña?</a>
    </div>
  </form>
</main>
{% endblock content %}
